*{
  box-sizing: border-box;
  
  
  
}
  body{
  background-color: aliceblue;
  font-family: sans-serif;
  line-height: 1.15;
  margin:0 auto;
  width:960px;
  height:900px;
  display: grid;
  grid-template: 
  "header header header" 150px
  "left center right" 1fr
  "footer footer footer" 100px
  / 100px 1fr 200px;
}

header{
  grid-area: header;
}
nav{
  grid-area: left;
}
main{
  grid-area: center;
}
aside{
  grid-area: right;
}
footer{
  grid-area: footer;
}
@media screen and (max-width:1000px){
    body{
      grid-template: 
      "header"
      "center"
      "left"
      "right"
      "footer";
    }
}